/* Home Page Styling */

html {
  font-size: 100%;
}

body {
  background-color: #ffffff;
  /* blue color to be used: 00008bff */
  /* red color to be used: cf000fff */
  font-family: arial, sans-serif;
}

header {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #00008bff;
  color: #fff;
  text-transform: uppercase;
}

header h1 {
  font-size: 4rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav ul li {
  font-weight: bold;
  font-size: 2rem;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li:nth-child(2) {
  color: #cf000fff;
}

nav ul li:nth-child(4) {
  color: #cf000fff;
}

nav ul li:nth-child(6) {
  color: #cf000fff;
}

nav ul li:nth-child(8) {
  color: #cf000fff;
}

.wrapper {
  padding-left: 40px;
  padding-right: 30px;
}

#main_photo_header h2 {
  color: #00008bff;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#main_photo_header h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#photo_header_link a {
  color: #00008bff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#photo_header_link a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.intro_button {
  background-color: #00008bff;
  color: white;
  text-decoration: none;
  padding: 30px 25px 30px 25px;
  border: 3px solid #cf000fff;
}

.intro_button:hover {
  font-weight: bold;
  color: #cf000fff;
}

.body_button {
  background-color: #00008bff;
  color: white;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border: 2px solid #cf000fff;
}

.body_button:hover {
  font-weight: bold;
  color: #cf000fff;
}

section figure img {
  border: 10px solid #00008bff;
  box-shadow: 10px 10px #cf000fff;
}

#about {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.about_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#about h3 {
  color: #00008bff;
  font-weight: bold;
}

#about p {
  text-align: center;
  color: #000;
}

#NFL {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.NFL_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#NFL h3 {
  color: #00008bff;
  font-weight: bold;
}

#NFL p {
  text-align: center;
  color: #000;
}

.buttons1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}


#draft {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.draft_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#draft h3 {
  color: #00008bff;
  font-weight: bold;
}

#draft p {
  text-align: center;
  color: #000;
}

.buttons2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


#news {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.news_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#news h3 {
  color: #00008bff;
  font-weight: bold;
}

#news p {
  text-align: center;
  color: #000;
}

figcaption a {
  color: #00008bff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.80rem;
}

figcaption a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: underline;
}

footer {
  padding: 8px;
  background-color: #00008bff;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer h4 {
  text-transform: uppercase;
  font-weight: bold;
}

footer h5 {
  font-weight: bold;
}

footer p a {
  color: #fff;
  text-transform: none;
  text-decoration: none;
}

footer a:hover {
  color: #cf000fff;
  text-decoration: underline;
}

/* Draft Page Styling */

.nav_selected {
  color: #cf000fff;
  text-decoration: underline;
  text-decoration-color: #cf000fff;
}

caption {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #cf000fff;
  color: #00008bff;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 15px;
}

thead {
  background-color: #00008bff;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 1.4rem;
}

td {
  border: 1px solid black;
}

.header {
  padding: 6px;
}

.center {
  text-align: center;
}

.synopsis {
  background-color: #00008bff;
  color: white;
  text-decoration: none;
  padding: 12px 25px 12px 25px;
}

.synopsis:hover {
  text-decoration: underline;
  color: #cf000fff;
}

.teams_col {
  text-align: center;
  color: #cf000fff;
  font-weight: bolder;
  font-size: 2rem;
}

.pick_cols {
  text-align: center;
  font-weight: bolder;
  color: #00008bff;
  font-size: 2rem;
}

.player_cols {
  padding-left: 10px;
}

.blue_text {
  color: #00008bff;
}

.rank_cols {
  text-align: center;
  font-weight: bolder;
  color: #cf000fff;
  font-size: 2rem;
}

.name_col {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.position_cols {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.school_cols {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.highlights {
  background-color: #cf000fff;
  color: white;
  text-decoration: none;
  padding: 5px 9px 5px 9px;
  font-size: 1.25rem;
}

.highlights:hover {
  text-decoration: underline;
  color: #00008bff;
}

tfoot {
  text-align: left;
  background-color: #00008bff;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nflwebsite {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nflwebsite:hover {
  text-decoration: underline;
  color: #cf000fff;
}

.table1 {
  padding-bottom: 25px;
  padding-right: 60px;
}

.table2 {
  padding-bottom: 25px;
  padding-right: 10px;
}

#tables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
