html {
  font-size: 100%;
}

body {
  background-color: #ffffff;
  /* blue color to be used: 00008bff */
  /* red color to be used: cf000fff */
  font-family: arial, sans-serif;
}

header {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #00008bff;
  color: #fff;
  text-transform: uppercase;
}

header h1 {
  font-size: 4rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav ul li {
  font-weight: bold;
  font-size: 2rem;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li:nth-child(2) {
  color: #cf000fff;
}

nav ul li:nth-child(4) {
  color: #cf000fff;
}

nav ul li:nth-child(6) {
  color: #cf000fff;
}

nav ul li:nth-child(8) {
  color: #cf000fff;
}

.wrapper {
  margin: 2em 8em 2em 8em;
}

#main_photo_header h2 {
  color: #00008bff;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#main_photo_header h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#photo_header_link a {
  color: #00008bff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#photo_header_link a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.about_button {
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
  height:75px;
  width:200px;
}

.get_started{
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
  height:75px;
  width:200px;
}

section figure img {
  border: 10px solid #00008bff;
  box-shadow: 10px 10px #cf000fff;
}

#about {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.about_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#about h3 {
  color: #00008bff;
  font-weight: bold;
}

#about p {
  text-align: center;
  color: #000;
}

#NFL {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.NFL_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#NFL h3 {
  color: #00008bff;
  font-weight: bold;
}

#NFL p {
  text-align: center;
  color: #000;
}

.buttons1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.nfl_overview {
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
}

.nfl_teams{
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
}

.nfl_standings {
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
}

#draft {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.draft_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#draft h3 {
  color: #00008bff;
  font-weight: bold;
}

#draft p {
  text-align: center;
  color: #000;
}

.buttons2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.nfl_draft{
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
}

#news {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.news_nfl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#news h3 {
  color: #00008bff;
  font-weight: bold;
}

#news p {
  text-align: center;
  color: #000;
}

.nfl_news{
  background-color: #00008bff;
  border-width: medium;
  border-color: #cf000fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.80rem;
  padding: 6px;
}

figcaption a {
  color: #00008bff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.80rem;
}

figcaption a:hover {
  color: #cf000fff;
  text-transform: uppercase;
  text-decoration: underline;
}

footer {
  padding: 8px;
  background-color: #00008bff;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer h4 {
  text-transform: uppercase;
  font-weight: bold;
}

footer h5 {
  font-weight: bold;
}

footer p a {
  color: #fff;
  text-transform: none;
  text-decoration: none;
}

footer a:hover {
  color: #cf000fff;
  text-decoration: underline;
}
